<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MusicSNS</title>
</head>
<body>

　<form action="/" method="get">
<input type="text" name="keyword">
<input type="submit" value="検索">
    </form>
     <% @music %>

</body>
</html>
　　　　
　　　
